body {
    font-family: Arial, sans-serif;
}
body {
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 20px;
}

#product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}
.product-card {
    background-color: white;
    width: 220px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.product-card h3 {
    font-size: 18px;
}

.product-card p {
    font-weight: bold;
}
.product-card {
    transition: transform 0.3s ease,
                box-shadow 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
@media (max-width:700px) {

    #product-container {
        flex-direction: column;
        align-items: center;
    }

    .product-card {
        width: 85%;
    }

}
